* {
    padding:0;
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
}

body{
    background-color: rgb(0, 0, 0);
}

header{
    background-color: rgb(240, 240, 240);
    height: 50px;
    width: 100%;
    box-shadow: 0px 1px 15px rgba(255, 255, 255, 0.541);
    display: flex;
    justify-content: space-between;
    padding: 2px; /*pra não colar as letras na borda*/
}

header img{
    height: 50px;
    width: 50px;
    padding: 2px;
}

.menu{ 
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding: 2px;
}

.menu li a {
    text-decoration: none;
    display: flex;
    color: #1b1b1b;
}
.menu li a:hover {
   font-weight: bold;
   color: #6e6b6b;
}

.container a {
    text-decoration: none;
    color: aliceblue;    
}

h1{
    background-color: #1b1b1be1;
    color:rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    width: auto;
    height: 25px;
}

.container{
    color: rgb(235, 230, 230);
    max-width: 100%;
    padding: 20px;  
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imagem{
    display: flex;
    width: 300px;
    height: 320px;
    border-radius: 12px;
    padding: 20px;
    border-radius: 35px;
    
}

.imagem:hover{
    opacity: 0.9;
    background-color: rgb(255, 255, 255);
}    


@media (max-widht: 320px){
    .imagem{
        width: 100%;
    }
}

footer{
    color: aliceblue;
    background-color: #6e6b6b9c;
}

footer p{
    color: rgb(230, 230, 230); 
}